
@media screen and (max-width: 1024px) {

    #menu-content {
        display: none;   /* pour cacher la barre de navigation*/
    }

    #menu-button, #menu-sidebar,
    .menu-activated #menu-overlay {
        display: block; /* afficher le menu en block*/
    }

    .menu-activated #menu-sidebar {
        transform: translateX(0);
    }
    #container-pricipal{
        display: flex;
        flex-direction: row;
    }
    
    li a, .button {
    text-decoration: none; /* enlever les soulignement */
    color: #535c68;
    }

    .menu-socio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu-socio img{   
        width: 50px;
        height: 50px;
        margin-right: 2em;
    }

    aside{
        display: none; /*masquer l'aside*/
    }

    main{
        margin: 0px;
        width: 100%;
    }

    #home-page{
        width: 100%;       
        background-image: url('images/Plan2.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }
    .container2 #home-page  p{
        font-size: 1.2em;
        animation: anim1 3s linear infinite;    
        position:absolute;
        margin-left: 5%;
        margin-top: 70px;
    }

    @keyframes anim1{
        0% {color:#0a3d62}
        25%{color:#079992}
        50%{color:#4a69bd}
        75%{color:mediumblue}
        100%{color:magenta}
    }

    .container2 #home-page  span{
        color: black;
        font-size: 0.6em;
    }

    .container2 #home-page a{
        width: 30%;
        height: auto;
        margin-left: 5%;
        background-color: rgba(44, 58, 71,0.6);
        position: absolute;
        margin-top: 230px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 1em;
        color: black;
        font-weight: bold;
    }
  

    /*--------------------------------about-------------------------------*/
    #about{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        background-image: url('images/Plan.png'); /*image arriere plan */ 
        background-repeat: no-repeat;/*pour ne pas repeter l'image*/
        background-size: cover;
        background-attachment: fixed;/*mettre l'image en position fixe*/
    }
    #about img{
        width: 170PX;
        height: 170px;
        border-radius: 100%;
    }

    #about h2{
        margin-top: 0px;
        color: #2f3542;
        font-size: 2em;
        text-align: center;
        font-weight: bold;
    }

    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about section{
        margin: 0px;
        padding: 5px;
    }

    .about section p{
        font-size: 1.2em;
        text-align: justify;
    }

    /*------------------------------------------experience----------------------------------*/
    #experience{
        width: 100%;
        height: 100vh; 
        margin-bottom: 60px;   
        background-image: url('images/Plan.png'); /*image arriere plan */ 
        background-repeat: no-repeat;/*pour ne pas repeter l'image*/
        background-size: cover;
        background-attachment: fixed;/*mettre l'image en position fixe*/

    }

    .experience{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: ;
    }

    #experience h2{
        color: #2f3542;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }

    .experience1{
        width: 100%;
        padding: 5px;
        border-bottom: 10px solid #dfe6e9;
    }

    .experience2{
        padding: 5px;
        width: 100%;
    }

    .experience p{
        font-weight: bold;
        font-size: 1em;
    }

    .experience h3{
        text-align: center;
        font-weight: bold;
        font-size: 1.4em;
    }

    .experience h4{
        font-weight: bold;
        font-size: 0.8em;
    }

   /*-------------------------------formation-----------------*/
    #formation{
    margin: 0px;
    padding: 10px;
    background-image: url('images/Plan.png'); /*image arriere plan */ 
    background-repeat: no-repeat;/*pour ne pas repeter l'image*/
    background-size: cover;
    background-attachment: fixed;/*mettre l'image en position fixe*/
    }

    #Formation span{
        color:blue;
    }

    #Formation h2{
        color: #2f3542;
        font-size: 3em;
        text-align: center;
    }

    #Formation  h3, h4, p{
        color: #2f3542;
        font-weight: bold;
        text-align: center;
    }

      #Formation .formation img{
        width: 200px;
        height: 200px;
      }

    .formation1{
        display: flex;
        flex-direction: column;
    }
    .sous-formation1{
        padding: 10px;
    }
    .sous-formation1  img{
        width: 200px;
        height: 200px;
    }

    .sous-formation2{
        padding: 10px;
    }
    .sous-formation2  img{
        width: 200px;
        height: 200px;
    }

    .formation2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sous-formation3{
        padding: 10px;
    }
    .sous-formation3  img{
        width: 200px;
        height: 200px;
    }

    .sous-formation4{
        padding: 10px;
    }
    .sous-formation4  img{
        width: 200px;
        height: 200px;
    }



   /*-------------------------------competences-----------------*/
    #Competences{
        width: 100%;
        background-image: url('images/Plan.png'); /*image arriere plan */ 
        background-repeat: no-repeat;/*pour ne pas repeter l'image*/
        background-size: cover;
        background-attachment: fixed;/*mettre l'image en position fixe*/
        margin-top: 30px;
    }

    #Competences h2{
        color:whitesmoke;
        font-size: 2em;
        text-align: center;
    }

    .competences{
        padding: 20px;
    }

    .competences  span{
        font-size: 0.8em;
    }

    .html-progress-bar{
        background-color:#bdc3c7;
        border-radius: 10px;
        margin-top: 20px;
    }

    .html{
        width: 75%;
        background-color: yellow;
        height: 20px;
        animation: html 5s linear normal;
        border: 1px solid black;
        border-radius: 10px;
    }

    @keyframes html{
        0%{width:0%;background-color: yellow;}
        20%{width: 20%;background-color: yellow;}
        50%{width: 50%;background-color: yellow;}
        100%{width: 80%;background-color: yellow;}
    }

    .css-progress-bar{
        background-color:#bdc3c7;
        border-radius: 10px;
        margin-top: 20px;
    }

    .css{
        width: 65%;
        background-color: #40407a;
        height: 20px;
        animation: css 5s linear normal;
        border: 1px solid black;
        border-radius: 10px;
    }

    @keyframes css{
        0%{width:0%;background-color: #40407a;}
        20%{width: 20%;background-color: #40407a;}
        50%{width: 50%;background-color: #40407a;}
        100%{width: 60%;background-color: #40407a;}
    }

    .photoshop-progress-bar{
        background-color:#bdc3c7;
        border-radius: 10px;
        margin-top: 20px;
    }

    .photoshop{
        width: 60%;
        background-color: #9b59b6;
        height: 20px;
        animation:photoshop 5s linear normal;
        border: 1px solid black;
        border-radius: 10px;
    }

    @keyframes photoshop{
        0%{width:0%;background-color: #9b59b6;}
        50%{width: 50%;background-color: #9b59b6;}
        100%{width: 60%;background-color: #9b59b6;}
    }

    .github-progress-bar{
        background-color:#bdc3c7;
        border-radius: 10px;
        margin-top: 20px;
    }

    .git{
        width: 45%;
        background-color: #9b59b6;
        height: 20px;
        animation:git 5s linear normal;
        border: 1px solid black;
        border-radius: 10px;
    }

    @keyframes git{
        0%{width:0%;background-color: #9b59b6;}
        50%{width: 30%;background-color: #9b59b6;}
        100%{width: 45%;background-color: #9b59b6;}
    }

    .js-progress-bar{
        background-color:#bdc3c7;
        border-radius: 10px;
        margin-top: 20px;
    }

    .js{
        width: 40%;
        background-color: #2ecc71;
        height: 20px;
        animation: js 5s linear normal;
        border: 1px solid black;
        border-radius: 10px;
    }

    @keyframes js{
        0%{width: 0%;background-color: #2ecc71;}
        25%{width: 5%;background-color: #2ecc71;}
        50%{width: 10%;background-color: #2ecc71;}
        75%{width: 15%;background-color: #2ecc71;}
        100%{width: 25%;background-color: #2ecc71;}
    }

    .nodejs-progress-bar{
        background-color:#bdc3c7;
        border-radius: 10px;
        margin-top: 20px;
    }

    .nodejs{
        width: 10%;
        background-color: #FDA7DF;
        height: 20px;
        animation: node 5s linear normal;
        border: 1px solid black;
        border-radius: 10px;
    }

    @keyframes node{
        0%{width:0%;background-color: #FDA7DF;}
        100%{width: 15%;background-color: #FDA7DF;}
    }

    .photoshop-progress-bar{
        background-color:#bdc3c7;
        border-radius: 10px;
        margin-top: 20px;
    }

    .photoshop{
        width: 60%;
        background-color: red;
        height: 20px;
        animation:photoshop 5s linear normal;
        border: 1px solid black;
        border-radius: 10px;
    }

    @keyframes photoshop{
        0%{width:0%;background-color: red;}
        50%{width: 50%;background-color: red;}
        100%{width: 60%;background-color: red;}
    }

    .wordpress-progress-bar{
        background-color:#bdc3c7;
        border-radius: 10px;
        margin-top: 20px;
    }

    .wordpress{
        width: 80%;
        height: 20px;
        background-color: #2980b9;
        animation:wordpress 5s linear normal;
        border: 1px solid black;
        border-radius: 10px;
    }

    @keyframes wordpress{
        0%{width:0%;background-color: #2980b9;}
        50%{width: 50%;background-color: #2980b9;}
        100%{width: 80%;background-color: #2980b9;}
    }

    /*-------------------------------passion-----------------*/
    #passion{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: url('images/Plan.png'); /*image arriere plan */ 
        background-repeat: no-repeat;/*pour ne pas repeter l'image*/
        background-size: cover;
        background-attachment: fixed;/*mettre l'image en position fixe*/
    }
    #passion h2{
        font-size: 2em;
        color:#2f3542;
        text-align: center;
    }

    .mes-passions1{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sport{
        background-color: #778ca3;
        width: 100%;
        height: 200px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0px 10px 10px;
    }

    .sport h3{
        text-align: center;
        color: #c2e9fb;
        position: relative;
        font-size: 1.5em;
    }

    .sport img{
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: -20px;
        border-radius: 100%;
    }

    .voyage{
        position: relative;
        background-color: #778ca3;
        width: 100%;
        height: 200px;
        margin-top: 25px;
        border-radius: 10px;
        box-shadow: 0px 10px 10px;
    }

    .voyage img{
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: -20px;
        border-radius: 100%;
    }

    .voyage h3{
        color: #c2e9fb;
        text-align: center;
        font-size: 1.5em;
    }

    .mes-passions2{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cinema{
        background-color: #778ca3;
        width: 100%;
        height: 200px;
        margin: 25px auto;
        border-radius: 10px;
        box-shadow: 0px 10px 10px;
        position: relative;
    }

    .cinema img{
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: -25px;
        border-radius: 100%;
    }

    .cinema h3{
        text-align: center;
        color: #c2e9fb;
        font-size: 1.5em;
    }

    .jeux{
        background-color: #778ca3;
        width: 100%;
        height: 200px;
        margin: 25px auto;
        border-radius: 10px;
        box-shadow: 0px 10px 10px;
        position: relative;
    }

    .jeux img{
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: -25px;
        border-radius: 100%;
    }

    .jeux h3{
        text-align: center;
        color: #c2e9fb;
        font-size: 1.5em;
    }

    /*-------------------------------passion-----------------*/
    hr{
        width: 50%;
        margin-top: 70px;
    }

    #contact{
        width: 80%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        background-image: url('images/Plan.png'); /*image arriere plan */ 
        background-repeat: no-repeat;/*pour ne pas repeter l'image*/
        background-size: cover;
        background-attachment: fixed;/*mettre l'image en position fixe*/
    }

    .cordonnees{
        margin-top: 20px;
    }

    .cordonnees p{
        text-align: justify;
        font-size: 
    }

    .cordonnees img{
        width: 20px;
        height: 20px;
    }
    form{
        width: 80%;
        margin: auto;
    }

    input{
        width: 80%;
        margin: auto;
        height: 30px;
    }

    label{
        display:block;
        float: center;
        width:100%;
        text-align: center;
        font-weight: bold;
    }
    
    .submit{
        width: 30%;
        margin-right: auto;
        margin-left: auto;
    }

    textarea {
        height: 8em;
        width: 80%;
    }

    .cordonnees  a{
        font-size: 0.7em;
        text-decoration: none;
    }

}
